html,
.perviy_block,
body,
body div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video  {

	margin:0;
	padding:0;
	border:0;
	font-size:100%;
	vertical-align:baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section  {
	display:block
}

q:before,
q:after {
	content:"";content:none
}

ins {
	background-color:#ff9;color:#000;text-decoration:none
}

mark {
	background-color:#ff9;color:#000;font-style:italic;font-weight:bold
}

del {
	text-decoration:line-through
}

abbr[title],
dfn[title] {
	border-bottom:1px dotted;cursor:help
}

table {
	border-collapse:collapse;border-spacing:0
}

hr {
	display:block;height:1px;border:0;border-top:1px solid #ccc;margin:1em 0;padding:0
}

body {
	font:13px/1.3 sans-serif;*font-size:small
}

html {
	overflow-y:scroll;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%
}

a:link {
	-webkit-tap-highlight-color:#222
}

a:hover,
a:active {
	outline:none;text-decoration:none
}

a,
a:active,
a:visited {
	color:#222;border-bottom:1px transparent;text-decoration:none
}

a:hover {
	color:#222;border-bottom:1px solid #222
}

ul,
ol {
	margin-left:2em
}

nav ul,
nav li {
	margin:0;list-style:none;list-style-image:none
}

small {
	font-size:85%
}

b,
strong,
th {
	font-weight:bold
}

sub,
sup {
	font-size:75%;line-height:0;position:relative
}

sup {
	top:-0.5em
}

sub {
	bottom:-0.25em
}

.ie6 legend,
.ie7 legend {
	margin-left:-7px
}

button,
input,
select,
textarea {
	width:auto;overflow:visible;margin:0;font-size:100%;font-family:sans-serif;vertical-align:baseline
}

textarea {
	overflow:auto;vertical-align:text-top
}

label,
input[type="button"],
input[type="submit"],
input[type="image"],
button {
	cursor:pointer
}

input::-moz-focus-inner,
button::-moz-focus-inner {
	border:0;padding:0
}

input:invalid,
textarea:invalid {
	border-radius:1px;-moz-box-shadow:0 0 5px red;-webkit-box-shadow:0 0 5px red;box-shadow:0 0 5px red
}

.no-boxshadow input:invalid,
.no-boxshadow textarea:invalid {
	background-color:#f0dddd
}

.ie7 img {
	-ms-interpolation-mode:bicubic
}

body,
select,
input,
textarea {
	color:#333;font-family:"Courier New",
Courier,
sans-serif;letter-spacing:.3px
}h1,
h2,
h4,
h5,
h6 {
	font-weight:bold
}

h3 {
	font-weight:normal
}

::-moz-selection {
	background:#444;color:#fff;text-shadow:none
}

::selection {
	background:#444;color:#fff;text-shadow:none
}

body {
	margin:30px
}

header h1 a {
	display:block;border-bottom:0!important;background:url(/site/gfx/highseries.png);width:236px;height:137px;text-indent:-999em;margin-bottom:30px
}

header {
	margin-bottom:30px;
	z-index:100;
	position:relative;
	width: 100vw;
}

footer {
	clear:both;margin-top:60px;position:fixed;left:30px;bottom:30px
}

p {
	width:440px
}

footer p {
	width:300px
}

#highs {
	width:880px
}

#highs h1,
#high-single h1,
.high-general h1 {
	display:none
}

.g1 {
	float:left;margin-right:20px;width:200px;display:inline;margin-bottom:10px;height:280px
}

.g1 img {
	width:200px
}

.sel {
	border-bottom:1px solid #333!important
}

#high-single {
	width:100%;height:100%;position:fixed;top:0;left:0;z-index:0
}

#high_view {
	position:absolute;top:0;left:0;cursor:pointer
}

.single-nav {
	position:fixed;top:30px;right:30px;z-index:800
}

.single-nav li {
	float:left;margin:0 7.5px;display:inline;cursor:pointer
}

.high-sub-menu {
	margin-left:10px
}

p a {
	border-bottom:1px solid #333
}

p a:hover {
	border-bottom:1px transparent
}

.ie6 .singe-nav {
	position:absolute
}

.ie6 header h1 a {
	background:url(/site/gfx/highseries_8.png)
}

.ie7 ul,
.ie6 ul {
	padding-bottom:5px
}

.ie7 header nav,
.ie6 header nav {
	display:block!important
}

.hidden {
	display:none
}

.thidden {
	display:none;visibility:hidden
}

.cf:before,
.cf:after {
	content:"";display:table
}

.cf:after {
	clear:both
}

.cf {
	zoom:1
}

@media only screen and (max-device-width:480px) and (orientation:landscape) {
	body {
	width:768px;height:1024px
}

#high-single {
	width:768px;height:1024px;position:absolute;top:0;left:0
}

#high_view {
	max-width:728px;max-height:984px
}

#high_view {
	margin-top:120px
}
}

@media only screen and (max-device-width:480px) and (orientation:portrait) {
	body {
	width:768px;height:1024px
}

#high-single {
	width:768px;height:1024px;position:absolute;top:0;left:0
}

#high_view {
	max-width:728px;max-height:984px
}
}

@media only screen and (max-device-width:1024px) and (orientation:portrait) {
	body {
	width:768px;height:1024px
}

#high-single {
	width:768px;height:1024px;position:absolute;top:0;left:0
}

#high_view {
	max-width:728px;max-height:984px
}
}

@media only screen and (max-device-width:1024px) and (orientation:landscape) {
	body {
	width:1024px;height:768px
	}

#high-single {
	width:1024px;height:768px;position:absolute;top:0;left:0
	}

#high_view {
	max-width:984px;max-height:728px
	}
}

h1 {
	font-size: 50px;
	line-height: 50px;
	margin-bottom: 25px;
	text-transform: uppercase;
}